* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.nav__list {
  background-color: rgba(47, 79, 79, 0.7);
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__list {
    list-style: none;
    padding: 20px 20px;
    margin: 0;
    border-radius: 20px;
}

.nav__item {
    padding: 0 10px;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.link:hover {
    text-decoration: underline;
    color: rgb(169, 169, 169);
    transition: .5s;
}

/* main */
.main {
    margin-bottom: auto;
}
.photo {
    width: 250px;
    border-radius: 100px;
    margin: 30px 0 30px 30px;
    border: 5px solid rgba(225, 250, 250, 0.7);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.profile {
    display: flex;
    justify-content: space-between;
    background-color: rgba(225, 250, 250, 0.7);
    margin: 20px 0;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.profile__text {
    width: 800px;
    height: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main__column-left {
    width: 30%;
}
.main__column-right {
    width: 70%;
}

.main__container {
    display: flex;
}

.contacts {
    padding: 1px 15px 20px 15px;
    margin: 0;
    background-color: rgba(225, 250, 250, 0.7);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.skills {
    padding: 0 15px 20px 15px;
    margin: 0;
    background-color: rgba(225, 250, 250, 0.7);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.language {
    padding: 0 15px 20px 15px;
    margin: 0;
    background-color: rgba(225, 250, 250, 0.7);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.about {
    padding: 1px 20px 50px 20px;
    margin-left: 20px;
    background-color: rgba(225, 250, 250, 0.7);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);

}

.education {
    padding: 0px 20px 3px 20px;
    margin: 25px 0 0 20px;
    background-color: rgba(225, 250, 250, 0.7);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.projects {
    padding: 0 20px 50px 20px;
    margin-left: 20px;
    background-color: rgba(225, 250, 250, 0.7);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.code {
    padding: 0 20px 0 20px;
    margin-left: 20px;
    background-color: rgba(225, 250, 250, 0.7);
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.education {
    display: flex;
    flex-wrap: wrap;

}

.section-title {
    width: 100%;
}

.university__section {
    width: 50%;
}

/* footer */
.github__img {
    width: 50px;
}

.rss__img {
    width: 100px;
}

.footer__text {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgba(47, 79, 79, 0.7);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}